*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

html,
body {
  margin: 0;
  padding: 0;
  font-size: 100%; }

.Row {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative; }

.Row--flow-standard {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row; }

.Row--flow-reversed {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse; }

.Row--valign-baseline {
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline; }

.Row--valign-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.Row--valign-flex-end {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end; }

.Row--valign-flex-start {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start; }

.Row--valign-stretch {
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch; }

.Row--intersperse-pop > .Cell + .Cell {
  margin-top: -2rem; }

.Row--intersperse-push > .Cell + .Cell {
  margin-top: 0; }

.Row--finish-short {
  margin-bottom: -2rem; }

.Row--finish-tall {
  margin-bottom: 0; }

.Row--no-gutters {
  padding: 1rem; }
  .Row--no-gutters > .Cell {
    padding: 0; }

.Row--gutters {
  padding: 0; }
  .Row--gutters > .Cell {
    padding: 1rem; }

@media (min-width: 0px) {
  .Row--flow-standard\@base {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row; }
  .Row--flow-reversed\@base {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse; }
  .Row--valign-baseline\@base {
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline; }
  .Row--valign-center\@base {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .Row--valign-flex-end\@base {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end; }
  .Row--valign-flex-start\@base {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start; }
  .Row--valign-stretch\@base {
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch; }
  .Row--intersperse-pop\@base > .Cell + .Cell {
    margin-top: -2rem; }
  .Row--intersperse-push\@base > .Cell + .Cell {
    margin-top: 0; }
  .Row--finish-short\@base {
    margin-bottom: -2rem; }
  .Row--finish-tall\@base {
    margin-bottom: 0; }
  .Row--no-gutters\@base {
    padding: 1rem; }
    .Row--no-gutters\@base > .Cell {
      padding: 0; }
  .Row--gutters\@base {
    padding: 0; }
    .Row--gutters\@base > .Cell {
      padding: 1rem; } }

@media (min-width: 544px) {
  .Row--flow-standard\@sm {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row; }
  .Row--flow-reversed\@sm {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse; }
  .Row--valign-baseline\@sm {
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline; }
  .Row--valign-center\@sm {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .Row--valign-flex-end\@sm {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end; }
  .Row--valign-flex-start\@sm {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start; }
  .Row--valign-stretch\@sm {
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch; }
  .Row--intersperse-pop\@sm > .Cell + .Cell {
    margin-top: -2rem; }
  .Row--intersperse-push\@sm > .Cell + .Cell {
    margin-top: 0; }
  .Row--finish-short\@sm {
    margin-bottom: -2rem; }
  .Row--finish-tall\@sm {
    margin-bottom: 0; }
  .Row--no-gutters\@sm {
    padding: 1rem; }
    .Row--no-gutters\@sm > .Cell {
      padding: 0; }
  .Row--gutters\@sm {
    padding: 0; }
    .Row--gutters\@sm > .Cell {
      padding: 1rem; } }

@media (min-width: 768px) {
  .Row--flow-standard\@md {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row; }
  .Row--flow-reversed\@md {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse; }
  .Row--valign-baseline\@md {
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline; }
  .Row--valign-center\@md {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .Row--valign-flex-end\@md {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end; }
  .Row--valign-flex-start\@md {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start; }
  .Row--valign-stretch\@md {
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch; }
  .Row--intersperse-pop\@md > .Cell + .Cell {
    margin-top: -2rem; }
  .Row--intersperse-push\@md > .Cell + .Cell {
    margin-top: 0; }
  .Row--finish-short\@md {
    margin-bottom: -2rem; }
  .Row--finish-tall\@md {
    margin-bottom: 0; }
  .Row--no-gutters\@md {
    padding: 1rem; }
    .Row--no-gutters\@md > .Cell {
      padding: 0; }
  .Row--gutters\@md {
    padding: 0; }
    .Row--gutters\@md > .Cell {
      padding: 1rem; } }

@media (min-width: 992px) {
  .Row--flow-standard\@lg {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row; }
  .Row--flow-reversed\@lg {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse; }
  .Row--valign-baseline\@lg {
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline; }
  .Row--valign-center\@lg {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .Row--valign-flex-end\@lg {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end; }
  .Row--valign-flex-start\@lg {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start; }
  .Row--valign-stretch\@lg {
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch; }
  .Row--intersperse-pop\@lg > .Cell + .Cell {
    margin-top: -2rem; }
  .Row--intersperse-push\@lg > .Cell + .Cell {
    margin-top: 0; }
  .Row--finish-short\@lg {
    margin-bottom: -2rem; }
  .Row--finish-tall\@lg {
    margin-bottom: 0; }
  .Row--no-gutters\@lg {
    padding: 1rem; }
    .Row--no-gutters\@lg > .Cell {
      padding: 0; }
  .Row--gutters\@lg {
    padding: 0; }
    .Row--gutters\@lg > .Cell {
      padding: 1rem; } }

@media (min-width: 1200px) {
  .Row--flow-standard\@xl {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row; }
  .Row--flow-reversed\@xl {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse; }
  .Row--valign-baseline\@xl {
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline; }
  .Row--valign-center\@xl {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .Row--valign-flex-end\@xl {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end; }
  .Row--valign-flex-start\@xl {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start; }
  .Row--valign-stretch\@xl {
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch; }
  .Row--intersperse-pop\@xl > .Cell + .Cell {
    margin-top: -2rem; }
  .Row--intersperse-push\@xl > .Cell + .Cell {
    margin-top: 0; }
  .Row--finish-short\@xl {
    margin-bottom: -2rem; }
  .Row--finish-tall\@xl {
    margin-bottom: 0; }
  .Row--no-gutters\@xl {
    padding: 1rem; }
    .Row--no-gutters\@xl > .Cell {
      padding: 0; }
  .Row--gutters\@xl {
    padding: 0; }
    .Row--gutters\@xl > .Cell {
      padding: 1rem; } }

.Cell {
  position: relative;
  padding: 1rem; }

.Cell--hidden {
  display: none; }

.Cell--visible {
  display: block; }

.Cell--has-rows {
  padding: 0 !important; }
  .Cell--has-rows > .Row--gutterless {
    padding: 0; }

.Cell--1\/12 {
  height: auto;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: calc(0.9999 * (100% / 12));
  max-width: calc(0.9999 * (100% / 12));
  -ms-flex-preferred-size: calc(0.9999 * (100% / 12));
      flex-basis: calc(0.9999 * (100% / 12)); }

.Cell--2\/12 {
  height: auto;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: calc(1.9999 * (100% / 12));
  max-width: calc(1.9999 * (100% / 12));
  -ms-flex-preferred-size: calc(1.9999 * (100% / 12));
      flex-basis: calc(1.9999 * (100% / 12)); }

.Cell--3\/12 {
  height: auto;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: calc(2.9999 * (100% / 12));
  max-width: calc(2.9999 * (100% / 12));
  -ms-flex-preferred-size: calc(2.9999 * (100% / 12));
      flex-basis: calc(2.9999 * (100% / 12)); }

.Cell--4\/12 {
  height: auto;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: calc(3.9999 * (100% / 12));
  max-width: calc(3.9999 * (100% / 12));
  -ms-flex-preferred-size: calc(3.9999 * (100% / 12));
      flex-basis: calc(3.9999 * (100% / 12)); }

.Cell--5\/12 {
  height: auto;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: calc(4.9999 * (100% / 12));
  max-width: calc(4.9999 * (100% / 12));
  -ms-flex-preferred-size: calc(4.9999 * (100% / 12));
      flex-basis: calc(4.9999 * (100% / 12)); }

.Cell--6\/12 {
  height: auto;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: calc(5.9999 * (100% / 12));
  max-width: calc(5.9999 * (100% / 12));
  -ms-flex-preferred-size: calc(5.9999 * (100% / 12));
      flex-basis: calc(5.9999 * (100% / 12)); }

.Cell--7\/12 {
  height: auto;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: calc(6.9999 * (100% / 12));
  max-width: calc(6.9999 * (100% / 12));
  -ms-flex-preferred-size: calc(6.9999 * (100% / 12));
      flex-basis: calc(6.9999 * (100% / 12)); }

.Cell--8\/12 {
  height: auto;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: calc(7.9999 * (100% / 12));
  max-width: calc(7.9999 * (100% / 12));
  -ms-flex-preferred-size: calc(7.9999 * (100% / 12));
      flex-basis: calc(7.9999 * (100% / 12)); }

.Cell--9\/12 {
  height: auto;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: calc(8.9999 * (100% / 12));
  max-width: calc(8.9999 * (100% / 12));
  -ms-flex-preferred-size: calc(8.9999 * (100% / 12));
      flex-basis: calc(8.9999 * (100% / 12)); }

.Cell--10\/12 {
  height: auto;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: calc(9.9999 * (100% / 12));
  max-width: calc(9.9999 * (100% / 12));
  -ms-flex-preferred-size: calc(9.9999 * (100% / 12));
      flex-basis: calc(9.9999 * (100% / 12)); }

.Cell--11\/12 {
  height: auto;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: calc(10.9999 * (100% / 12));
  max-width: calc(10.9999 * (100% / 12));
  -ms-flex-preferred-size: calc(10.9999 * (100% / 12));
      flex-basis: calc(10.9999 * (100% / 12)); }

.Cell--12\/12 {
  height: auto;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: calc(11.9999 * (100% / 12));
  max-width: calc(11.9999 * (100% / 12));
  -ms-flex-preferred-size: calc(11.9999 * (100% / 12));
      flex-basis: calc(11.9999 * (100% / 12)); }

.Cell--offset-right-1\/12 {
  margin-right: calc(0.9999 * (100% / 12)); }

.Cell--offset-right-2\/12 {
  margin-right: calc(1.9999 * (100% / 12)); }

.Cell--offset-right-3\/12 {
  margin-right: calc(2.9999 * (100% / 12)); }

.Cell--offset-right-4\/12 {
  margin-right: calc(3.9999 * (100% / 12)); }

.Cell--offset-right-5\/12 {
  margin-right: calc(4.9999 * (100% / 12)); }

.Cell--offset-right-6\/12 {
  margin-right: calc(5.9999 * (100% / 12)); }

.Cell--offset-right-7\/12 {
  margin-right: calc(6.9999 * (100% / 12)); }

.Cell--offset-right-8\/12 {
  margin-right: calc(7.9999 * (100% / 12)); }

.Cell--offset-right-9\/12 {
  margin-right: calc(8.9999 * (100% / 12)); }

.Cell--offset-right-10\/12 {
  margin-right: calc(9.9999 * (100% / 12)); }

.Cell--offset-right-11\/12 {
  margin-right: calc(10.9999 * (100% / 12)); }

.Cell--offset-right-12\/12 {
  margin-right: calc(11.9999 * (100% / 12)); }

.Cell--offset-left-1\/12 {
  margin-left: calc(0.9999 * (100% / 12)); }

.Cell--offset-left-2\/12 {
  margin-left: calc(1.9999 * (100% / 12)); }

.Cell--offset-left-3\/12 {
  margin-left: calc(2.9999 * (100% / 12)); }

.Cell--offset-left-4\/12 {
  margin-left: calc(3.9999 * (100% / 12)); }

.Cell--offset-left-5\/12 {
  margin-left: calc(4.9999 * (100% / 12)); }

.Cell--offset-left-6\/12 {
  margin-left: calc(5.9999 * (100% / 12)); }

.Cell--offset-left-7\/12 {
  margin-left: calc(6.9999 * (100% / 12)); }

.Cell--offset-left-8\/12 {
  margin-left: calc(7.9999 * (100% / 12)); }

.Cell--offset-left-9\/12 {
  margin-left: calc(8.9999 * (100% / 12)); }

.Cell--offset-left-10\/12 {
  margin-left: calc(9.9999 * (100% / 12)); }

.Cell--offset-left-11\/12 {
  margin-left: calc(10.9999 * (100% / 12)); }

.Cell--offset-left-12\/12 {
  margin-left: calc(11.9999 * (100% / 12)); }

.Cell--text-align-left {
  text-align: left; }

.Cell--text-align-center {
  text-align: center; }

.Cell--text-align-right {
  text-align: right; }

.Cell--text-align-justify {
  text-align: justify; }

@media (min-width: 0px) {
  .Cell--hidden\@base {
    display: none; }
  .Cell--visible\@base {
    display: block; }
  .Cell--1\/12\@base {
    height: auto;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    width: calc(0.9999 * (100% / 12));
    max-width: calc(0.9999 * (100% / 12));
    -ms-flex-preferred-size: calc(0.9999 * (100% / 12));
        flex-basis: calc(0.9999 * (100% / 12)); }
  .Cell--2\/12\@base {
    height: auto;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    width: calc(1.9999 * (100% / 12));
    max-width: calc(1.9999 * (100% / 12));
    -ms-flex-preferred-size: calc(1.9999 * (100% / 12));
        flex-basis: calc(1.9999 * (100% / 12)); }
  .Cell--3\/12\@base {
    height: auto;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    width: calc(2.9999 * (100% / 12));
    max-width: calc(2.9999 * (100% / 12));
    -ms-flex-preferred-size: calc(2.9999 * (100% / 12));
        flex-basis: calc(2.9999 * (100% / 12)); }
  .Cell--4\/12\@base {
    height: auto;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    width: calc(3.9999 * (100% / 12));
    max-width: calc(3.9999 * (100% / 12));
    -ms-flex-preferred-size: calc(3.9999 * (100% / 12));
        flex-basis: calc(3.9999 * (100% / 12)); }
  .Cell--5\/12\@base {
    height: auto;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    width: calc(4.9999 * (100% / 12));
    max-width: calc(4.9999 * (100% / 12));
    -ms-flex-preferred-size: calc(4.9999 * (100% / 12));
        flex-basis: calc(4.9999 * (100% / 12)); }
  .Cell--6\/12\@base {
    height: auto;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    width: calc(5.9999 * (100% / 12));
    max-width: calc(5.9999 * (100% / 12));
    -ms-flex-preferred-size: calc(5.9999 * (100% / 12));
        flex-basis: calc(5.9999 * (100% / 12)); }
  .Cell--7\/12\@base {
    height: auto;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    width: calc(6.9999 * (100% / 12));
    max-width: calc(6.9999 * (100% / 12));
    -ms-flex-preferred-size: calc(6.9999 * (100% / 12));
        flex-basis: calc(6.9999 * (100% / 12)); }
  .Cell--8\/12\@base {
    height: auto;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    width: calc(7.9999 * (100% / 12));
    max-width: calc(7.9999 * (100% / 12));
    -ms-flex-preferred-size: calc(7.9999 * (100% / 12));
        flex-basis: calc(7.9999 * (100% / 12)); }
  .Cell--9\/12\@base {
    height: auto;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    width: calc(8.9999 * (100% / 12));
    max-width: calc(8.9999 * (100% / 12));
    -ms-flex-preferred-size: calc(8.9999 * (100% / 12));
        flex-basis: calc(8.9999 * (100% / 12)); }
  .Cell--10\/12\@base {
    height: auto;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    width: calc(9.9999 * (100% / 12));
    max-width: calc(9.9999 * (100% / 12));
    -ms-flex-preferred-size: calc(9.9999 * (100% / 12));
        flex-basis: calc(9.9999 * (100% / 12)); }
  .Cell--11\/12\@base {
    height: auto;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    width: calc(10.9999 * (100% / 12));
    max-width: calc(10.9999 * (100% / 12));
    -ms-flex-preferred-size: calc(10.9999 * (100% / 12));
        flex-basis: calc(10.9999 * (100% / 12)); }
  .Cell--12\/12\@base {
    height: auto;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    width: calc(11.9999 * (100% / 12));
    max-width: calc(11.9999 * (100% / 12));
    -ms-flex-preferred-size: calc(11.9999 * (100% / 12));
        flex-basis: calc(11.9999 * (100% / 12)); }
  .Cell--offset-right-1\/12\@base {
    margin-right: calc(0.9999 * (100% / 12)); }
  .Cell--offset-right-2\/12\@base {
    margin-right: calc(1.9999 * (100% / 12)); }
  .Cell--offset-right-3\/12\@base {
    margin-right: calc(2.9999 * (100% / 12)); }
  .Cell--offset-right-4\/12\@base {
    margin-right: calc(3.9999 * (100% / 12)); }
  .Cell--offset-right-5\/12\@base {
    margin-right: calc(4.9999 * (100% / 12)); }
  .Cell--offset-right-6\/12\@base {
    margin-right: calc(5.9999 * (100% / 12)); }
  .Cell--offset-right-7\/12\@base {
    margin-right: calc(6.9999 * (100% / 12)); }
  .Cell--offset-right-8\/12\@base {
    margin-right: calc(7.9999 * (100% / 12)); }
  .Cell--offset-right-9\/12\@base {
    margin-right: calc(8.9999 * (100% / 12)); }
  .Cell--offset-right-10\/12\@base {
    margin-right: calc(9.9999 * (100% / 12)); }
  .Cell--offset-right-11\/12\@base {
    margin-right: calc(10.9999 * (100% / 12)); }
  .Cell--offset-right-12\/12\@base {
    margin-right: calc(11.9999 * (100% / 12)); }
  .Cell--offset-left-1\/12\@base {
    margin-left: calc(0.9999 * (100% / 12)); }
  .Cell--offset-left-2\/12\@base {
    margin-left: calc(1.9999 * (100% / 12)); }
  .Cell--offset-left-3\/12\@base {
    margin-left: calc(2.9999 * (100% / 12)); }
  .Cell--offset-left-4\/12\@base {
    margin-left: calc(3.9999 * (100% / 12)); }
  .Cell--offset-left-5\/12\@base {
    margin-left: calc(4.9999 * (100% / 12)); }
  .Cell--offset-left-6\/12\@base {
    margin-left: calc(5.9999 * (100% / 12)); }
  .Cell--offset-left-7\/12\@base {
    margin-left: calc(6.9999 * (100% / 12)); }
  .Cell--offset-left-8\/12\@base {
    margin-left: calc(7.9999 * (100% / 12)); }
  .Cell--offset-left-9\/12\@base {
    margin-left: calc(8.9999 * (100% / 12)); }
  .Cell--offset-left-10\/12\@base {
    margin-left: calc(9.9999 * (100% / 12)); }
  .Cell--offset-left-11\/12\@base {
    margin-left: calc(10.9999 * (100% / 12)); }
  .Cell--offset-left-12\/12\@base {
    margin-left: calc(11.9999 * (100% / 12)); }
  .Cell--text-align-left\@base {
    text-align: left; }
  .Cell--text-align-center\@base {
    text-align: center; }
  .Cell--text-align-right\@base {
    text-align: right; }
  .Cell--text-align-justify\@base {
    text-align: justify; }
  .Cell--has-rows > .Row--gutterless\@base {
    padding: 0; } }

@media (min-width: 544px) {
  .Cell--hidden\@sm {
    display: none; }
  .Cell--visible\@sm {
    display: block; }
  .Cell--1\/12\@sm {
    height: auto;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    width: calc(0.9999 * (100% / 12));
    max-width: calc(0.9999 * (100% / 12));
    -ms-flex-preferred-size: calc(0.9999 * (100% / 12));
        flex-basis: calc(0.9999 * (100% / 12)); }
  .Cell--2\/12\@sm {
    height: auto;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    width: calc(1.9999 * (100% / 12));
    max-width: calc(1.9999 * (100% / 12));
    -ms-flex-preferred-size: calc(1.9999 * (100% / 12));
        flex-basis: calc(1.9999 * (100% / 12)); }
  .Cell--3\/12\@sm {
    height: auto;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    width: calc(2.9999 * (100% / 12));
    max-width: calc(2.9999 * (100% / 12));
    -ms-flex-preferred-size: calc(2.9999 * (100% / 12));
        flex-basis: calc(2.9999 * (100% / 12)); }
  .Cell--4\/12\@sm {
    height: auto;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    width: calc(3.9999 * (100% / 12));
    max-width: calc(3.9999 * (100% / 12));
    -ms-flex-preferred-size: calc(3.9999 * (100% / 12));
        flex-basis: calc(3.9999 * (100% / 12)); }
  .Cell--5\/12\@sm {
    height: auto;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    width: calc(4.9999 * (100% / 12));
    max-width: calc(4.9999 * (100% / 12));
    -ms-flex-preferred-size: calc(4.9999 * (100% / 12));
        flex-basis: calc(4.9999 * (100% / 12)); }
  .Cell--6\/12\@sm {
    height: auto;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    width: calc(5.9999 * (100% / 12));
    max-width: calc(5.9999 * (100% / 12));
    -ms-flex-preferred-size: calc(5.9999 * (100% / 12));
        flex-basis: calc(5.9999 * (100% / 12)); }
  .Cell--7\/12\@sm {
    height: auto;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    width: calc(6.9999 * (100% / 12));
    max-width: calc(6.9999 * (100% / 12));
    -ms-flex-preferred-size: calc(6.9999 * (100% / 12));
        flex-basis: calc(6.9999 * (100% / 12)); }
  .Cell--8\/12\@sm {
    height: auto;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    width: calc(7.9999 * (100% / 12));
    max-width: calc(7.9999 * (100% / 12));
    -ms-flex-preferred-size: calc(7.9999 * (100% / 12));
        flex-basis: calc(7.9999 * (100% / 12)); }
  .Cell--9\/12\@sm {
    height: auto;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    width: calc(8.9999 * (100% / 12));
    max-width: calc(8.9999 * (100% / 12));
    -ms-flex-preferred-size: calc(8.9999 * (100% / 12));
        flex-basis: calc(8.9999 * (100% / 12)); }
  .Cell--10\/12\@sm {
    height: auto;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    width: calc(9.9999 * (100% / 12));
    max-width: calc(9.9999 * (100% / 12));
    -ms-flex-preferred-size: calc(9.9999 * (100% / 12));
        flex-basis: calc(9.9999 * (100% / 12)); }
  .Cell--11\/12\@sm {
    height: auto;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    width: calc(10.9999 * (100% / 12));
    max-width: calc(10.9999 * (100% / 12));
    -ms-flex-preferred-size: calc(10.9999 * (100% / 12));
        flex-basis: calc(10.9999 * (100% / 12)); }
  .Cell--12\/12\@sm {
    height: auto;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    width: calc(11.9999 * (100% / 12));
    max-width: calc(11.9999 * (100% / 12));
    -ms-flex-preferred-size: calc(11.9999 * (100% / 12));
        flex-basis: calc(11.9999 * (100% / 12)); }
  .Cell--offset-right-1\/12\@sm {
    margin-right: calc(0.9999 * (100% / 12)); }
  .Cell--offset-right-2\/12\@sm {
    margin-right: calc(1.9999 * (100% / 12)); }
  .Cell--offset-right-3\/12\@sm {
    margin-right: calc(2.9999 * (100% / 12)); }
  .Cell--offset-right-4\/12\@sm {
    margin-right: calc(3.9999 * (100% / 12)); }
  .Cell--offset-right-5\/12\@sm {
    margin-right: calc(4.9999 * (100% / 12)); }
  .Cell--offset-right-6\/12\@sm {
    margin-right: calc(5.9999 * (100% / 12)); }
  .Cell--offset-right-7\/12\@sm {
    margin-right: calc(6.9999 * (100% / 12)); }
  .Cell--offset-right-8\/12\@sm {
    margin-right: calc(7.9999 * (100% / 12)); }
  .Cell--offset-right-9\/12\@sm {
    margin-right: calc(8.9999 * (100% / 12)); }
  .Cell--offset-right-10\/12\@sm {
    margin-right: calc(9.9999 * (100% / 12)); }
  .Cell--offset-right-11\/12\@sm {
    margin-right: calc(10.9999 * (100% / 12)); }
  .Cell--offset-right-12\/12\@sm {
    margin-right: calc(11.9999 * (100% / 12)); }
  .Cell--offset-left-1\/12\@sm {
    margin-left: calc(0.9999 * (100% / 12)); }
  .Cell--offset-left-2\/12\@sm {
    margin-left: calc(1.9999 * (100% / 12)); }
  .Cell--offset-left-3\/12\@sm {
    margin-left: calc(2.9999 * (100% / 12)); }
  .Cell--offset-left-4\/12\@sm {
    margin-left: calc(3.9999 * (100% / 12)); }
  .Cell--offset-left-5\/12\@sm {
    margin-left: calc(4.9999 * (100% / 12)); }
  .Cell--offset-left-6\/12\@sm {
    margin-left: calc(5.9999 * (100% / 12)); }
  .Cell--offset-left-7\/12\@sm {
    margin-left: calc(6.9999 * (100% / 12)); }
  .Cell--offset-left-8\/12\@sm {
    margin-left: calc(7.9999 * (100% / 12)); }
  .Cell--offset-left-9\/12\@sm {
    margin-left: calc(8.9999 * (100% / 12)); }
  .Cell--offset-left-10\/12\@sm {
    margin-left: calc(9.9999 * (100% / 12)); }
  .Cell--offset-left-11\/12\@sm {
    margin-left: calc(10.9999 * (100% / 12)); }
  .Cell--offset-left-12\/12\@sm {
    margin-left: calc(11.9999 * (100% / 12)); }
  .Cell--text-align-left\@sm {
    text-align: left; }
  .Cell--text-align-center\@sm {
    text-align: center; }
  .Cell--text-align-right\@sm {
    text-align: right; }
  .Cell--text-align-justify\@sm {
    text-align: justify; }
  .Cell--has-rows > .Row--gutterless\@sm {
    padding: 0; } }

@media (min-width: 768px) {
  .Cell--hidden\@md {
    display: none; }
  .Cell--visible\@md {
    display: block; }
  .Cell--1\/12\@md {
    height: auto;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    width: calc(0.9999 * (100% / 12));
    max-width: calc(0.9999 * (100% / 12));
    -ms-flex-preferred-size: calc(0.9999 * (100% / 12));
        flex-basis: calc(0.9999 * (100% / 12)); }
  .Cell--2\/12\@md {
    height: auto;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    width: calc(1.9999 * (100% / 12));
    max-width: calc(1.9999 * (100% / 12));
    -ms-flex-preferred-size: calc(1.9999 * (100% / 12));
        flex-basis: calc(1.9999 * (100% / 12)); }
  .Cell--3\/12\@md {
    height: auto;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    width: calc(2.9999 * (100% / 12));
    max-width: calc(2.9999 * (100% / 12));
    -ms-flex-preferred-size: calc(2.9999 * (100% / 12));
        flex-basis: calc(2.9999 * (100% / 12)); }
  .Cell--4\/12\@md {
    height: auto;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    width: calc(3.9999 * (100% / 12));
    max-width: calc(3.9999 * (100% / 12));
    -ms-flex-preferred-size: calc(3.9999 * (100% / 12));
        flex-basis: calc(3.9999 * (100% / 12)); }
  .Cell--5\/12\@md {
    height: auto;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    width: calc(4.9999 * (100% / 12));
    max-width: calc(4.9999 * (100% / 12));
    -ms-flex-preferred-size: calc(4.9999 * (100% / 12));
        flex-basis: calc(4.9999 * (100% / 12)); }
  .Cell--6\/12\@md {
    height: auto;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    width: calc(5.9999 * (100% / 12));
    max-width: calc(5.9999 * (100% / 12));
    -ms-flex-preferred-size: calc(5.9999 * (100% / 12));
        flex-basis: calc(5.9999 * (100% / 12)); }
  .Cell--7\/12\@md {
    height: auto;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    width: calc(6.9999 * (100% / 12));
    max-width: calc(6.9999 * (100% / 12));
    -ms-flex-preferred-size: calc(6.9999 * (100% / 12));
        flex-basis: calc(6.9999 * (100% / 12)); }
  .Cell--8\/12\@md {
    height: auto;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    width: calc(7.9999 * (100% / 12));
    max-width: calc(7.9999 * (100% / 12));
    -ms-flex-preferred-size: calc(7.9999 * (100% / 12));
        flex-basis: calc(7.9999 * (100% / 12)); }
  .Cell--9\/12\@md {
    height: auto;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    width: calc(8.9999 * (100% / 12));
    max-width: calc(8.9999 * (100% / 12));
    -ms-flex-preferred-size: calc(8.9999 * (100% / 12));
        flex-basis: calc(8.9999 * (100% / 12)); }
  .Cell--10\/12\@md {
    height: auto;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    width: calc(9.9999 * (100% / 12));
    max-width: calc(9.9999 * (100% / 12));
    -ms-flex-preferred-size: calc(9.9999 * (100% / 12));
        flex-basis: calc(9.9999 * (100% / 12)); }
  .Cell--11\/12\@md {
    height: auto;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    width: calc(10.9999 * (100% / 12));
    max-width: calc(10.9999 * (100% / 12));
    -ms-flex-preferred-size: calc(10.9999 * (100% / 12));
        flex-basis: calc(10.9999 * (100% / 12)); }
  .Cell--12\/12\@md {
    height: auto;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    width: calc(11.9999 * (100% / 12));
    max-width: calc(11.9999 * (100% / 12));
    -ms-flex-preferred-size: calc(11.9999 * (100% / 12));
        flex-basis: calc(11.9999 * (100% / 12)); }
  .Cell--offset-right-1\/12\@md {
    margin-right: calc(0.9999 * (100% / 12)); }
  .Cell--offset-right-2\/12\@md {
    margin-right: calc(1.9999 * (100% / 12)); }
  .Cell--offset-right-3\/12\@md {
    margin-right: calc(2.9999 * (100% / 12)); }
  .Cell--offset-right-4\/12\@md {
    margin-right: calc(3.9999 * (100% / 12)); }
  .Cell--offset-right-5\/12\@md {
    margin-right: calc(4.9999 * (100% / 12)); }
  .Cell--offset-right-6\/12\@md {
    margin-right: calc(5.9999 * (100% / 12)); }
  .Cell--offset-right-7\/12\@md {
    margin-right: calc(6.9999 * (100% / 12)); }
  .Cell--offset-right-8\/12\@md {
    margin-right: calc(7.9999 * (100% / 12)); }
  .Cell--offset-right-9\/12\@md {
    margin-right: calc(8.9999 * (100% / 12)); }
  .Cell--offset-right-10\/12\@md {
    margin-right: calc(9.9999 * (100% / 12)); }
  .Cell--offset-right-11\/12\@md {
    margin-right: calc(10.9999 * (100% / 12)); }
  .Cell--offset-right-12\/12\@md {
    margin-right: calc(11.9999 * (100% / 12)); }
  .Cell--offset-left-1\/12\@md {
    margin-left: calc(0.9999 * (100% / 12)); }
  .Cell--offset-left-2\/12\@md {
    margin-left: calc(1.9999 * (100% / 12)); }
  .Cell--offset-left-3\/12\@md {
    margin-left: calc(2.9999 * (100% / 12)); }
  .Cell--offset-left-4\/12\@md {
    margin-left: calc(3.9999 * (100% / 12)); }
  .Cell--offset-left-5\/12\@md {
    margin-left: calc(4.9999 * (100% / 12)); }
  .Cell--offset-left-6\/12\@md {
    margin-left: calc(5.9999 * (100% / 12)); }
  .Cell--offset-left-7\/12\@md {
    margin-left: calc(6.9999 * (100% / 12)); }
  .Cell--offset-left-8\/12\@md {
    margin-left: calc(7.9999 * (100% / 12)); }
  .Cell--offset-left-9\/12\@md {
    margin-left: calc(8.9999 * (100% / 12)); }
  .Cell--offset-left-10\/12\@md {
    margin-left: calc(9.9999 * (100% / 12)); }
  .Cell--offset-left-11\/12\@md {
    margin-left: calc(10.9999 * (100% / 12)); }
  .Cell--offset-left-12\/12\@md {
    margin-left: calc(11.9999 * (100% / 12)); }
  .Cell--text-align-left\@md {
    text-align: left; }
  .Cell--text-align-center\@md {
    text-align: center; }
  .Cell--text-align-right\@md {
    text-align: right; }
  .Cell--text-align-justify\@md {
    text-align: justify; }
  .Cell--has-rows > .Row--gutterless\@md {
    padding: 0; } }

@media (min-width: 992px) {
  .Cell--hidden\@lg {
    display: none; }
  .Cell--visible\@lg {
    display: block; }
  .Cell--1\/12\@lg {
    height: auto;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    width: calc(0.9999 * (100% / 12));
    max-width: calc(0.9999 * (100% / 12));
    -ms-flex-preferred-size: calc(0.9999 * (100% / 12));
        flex-basis: calc(0.9999 * (100% / 12)); }
  .Cell--2\/12\@lg {
    height: auto;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    width: calc(1.9999 * (100% / 12));
    max-width: calc(1.9999 * (100% / 12));
    -ms-flex-preferred-size: calc(1.9999 * (100% / 12));
        flex-basis: calc(1.9999 * (100% / 12)); }
  .Cell--3\/12\@lg {
    height: auto;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    width: calc(2.9999 * (100% / 12));
    max-width: calc(2.9999 * (100% / 12));
    -ms-flex-preferred-size: calc(2.9999 * (100% / 12));
        flex-basis: calc(2.9999 * (100% / 12)); }
  .Cell--4\/12\@lg {
    height: auto;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    width: calc(3.9999 * (100% / 12));
    max-width: calc(3.9999 * (100% / 12));
    -ms-flex-preferred-size: calc(3.9999 * (100% / 12));
        flex-basis: calc(3.9999 * (100% / 12)); }
  .Cell--5\/12\@lg {
    height: auto;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    width: calc(4.9999 * (100% / 12));
    max-width: calc(4.9999 * (100% / 12));
    -ms-flex-preferred-size: calc(4.9999 * (100% / 12));
        flex-basis: calc(4.9999 * (100% / 12)); }
  .Cell--6\/12\@lg {
    height: auto;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    width: calc(5.9999 * (100% / 12));
    max-width: calc(5.9999 * (100% / 12));
    -ms-flex-preferred-size: calc(5.9999 * (100% / 12));
        flex-basis: calc(5.9999 * (100% / 12)); }
  .Cell--7\/12\@lg {
    height: auto;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    width: calc(6.9999 * (100% / 12));
    max-width: calc(6.9999 * (100% / 12));
    -ms-flex-preferred-size: calc(6.9999 * (100% / 12));
        flex-basis: calc(6.9999 * (100% / 12)); }
  .Cell--8\/12\@lg {
    height: auto;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    width: calc(7.9999 * (100% / 12));
    max-width: calc(7.9999 * (100% / 12));
    -ms-flex-preferred-size: calc(7.9999 * (100% / 12));
        flex-basis: calc(7.9999 * (100% / 12)); }
  .Cell--9\/12\@lg {
    height: auto;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    width: calc(8.9999 * (100% / 12));
    max-width: calc(8.9999 * (100% / 12));
    -ms-flex-preferred-size: calc(8.9999 * (100% / 12));
        flex-basis: calc(8.9999 * (100% / 12)); }
  .Cell--10\/12\@lg {
    height: auto;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    width: calc(9.9999 * (100% / 12));
    max-width: calc(9.9999 * (100% / 12));
    -ms-flex-preferred-size: calc(9.9999 * (100% / 12));
        flex-basis: calc(9.9999 * (100% / 12)); }
  .Cell--11\/12\@lg {
    height: auto;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    width: calc(10.9999 * (100% / 12));
    max-width: calc(10.9999 * (100% / 12));
    -ms-flex-preferred-size: calc(10.9999 * (100% / 12));
        flex-basis: calc(10.9999 * (100% / 12)); }
  .Cell--12\/12\@lg {
    height: auto;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    width: calc(11.9999 * (100% / 12));
    max-width: calc(11.9999 * (100% / 12));
    -ms-flex-preferred-size: calc(11.9999 * (100% / 12));
        flex-basis: calc(11.9999 * (100% / 12)); }
  .Cell--offset-right-1\/12\@lg {
    margin-right: calc(0.9999 * (100% / 12)); }
  .Cell--offset-right-2\/12\@lg {
    margin-right: calc(1.9999 * (100% / 12)); }
  .Cell--offset-right-3\/12\@lg {
    margin-right: calc(2.9999 * (100% / 12)); }
  .Cell--offset-right-4\/12\@lg {
    margin-right: calc(3.9999 * (100% / 12)); }
  .Cell--offset-right-5\/12\@lg {
    margin-right: calc(4.9999 * (100% / 12)); }
  .Cell--offset-right-6\/12\@lg {
    margin-right: calc(5.9999 * (100% / 12)); }
  .Cell--offset-right-7\/12\@lg {
    margin-right: calc(6.9999 * (100% / 12)); }
  .Cell--offset-right-8\/12\@lg {
    margin-right: calc(7.9999 * (100% / 12)); }
  .Cell--offset-right-9\/12\@lg {
    margin-right: calc(8.9999 * (100% / 12)); }
  .Cell--offset-right-10\/12\@lg {
    margin-right: calc(9.9999 * (100% / 12)); }
  .Cell--offset-right-11\/12\@lg {
    margin-right: calc(10.9999 * (100% / 12)); }
  .Cell--offset-right-12\/12\@lg {
    margin-right: calc(11.9999 * (100% / 12)); }
  .Cell--offset-left-1\/12\@lg {
    margin-left: calc(0.9999 * (100% / 12)); }
  .Cell--offset-left-2\/12\@lg {
    margin-left: calc(1.9999 * (100% / 12)); }
  .Cell--offset-left-3\/12\@lg {
    margin-left: calc(2.9999 * (100% / 12)); }
  .Cell--offset-left-4\/12\@lg {
    margin-left: calc(3.9999 * (100% / 12)); }
  .Cell--offset-left-5\/12\@lg {
    margin-left: calc(4.9999 * (100% / 12)); }
  .Cell--offset-left-6\/12\@lg {
    margin-left: calc(5.9999 * (100% / 12)); }
  .Cell--offset-left-7\/12\@lg {
    margin-left: calc(6.9999 * (100% / 12)); }
  .Cell--offset-left-8\/12\@lg {
    margin-left: calc(7.9999 * (100% / 12)); }
  .Cell--offset-left-9\/12\@lg {
    margin-left: calc(8.9999 * (100% / 12)); }
  .Cell--offset-left-10\/12\@lg {
    margin-left: calc(9.9999 * (100% / 12)); }
  .Cell--offset-left-11\/12\@lg {
    margin-left: calc(10.9999 * (100% / 12)); }
  .Cell--offset-left-12\/12\@lg {
    margin-left: calc(11.9999 * (100% / 12)); }
  .Cell--text-align-left\@lg {
    text-align: left; }
  .Cell--text-align-center\@lg {
    text-align: center; }
  .Cell--text-align-right\@lg {
    text-align: right; }
  .Cell--text-align-justify\@lg {
    text-align: justify; }
  .Cell--has-rows > .Row--gutterless\@lg {
    padding: 0; } }

@media (min-width: 1200px) {
  .Cell--hidden\@xl {
    display: none; }
  .Cell--visible\@xl {
    display: block; }
  .Cell--1\/12\@xl {
    height: auto;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    width: calc(0.9999 * (100% / 12));
    max-width: calc(0.9999 * (100% / 12));
    -ms-flex-preferred-size: calc(0.9999 * (100% / 12));
        flex-basis: calc(0.9999 * (100% / 12)); }
  .Cell--2\/12\@xl {
    height: auto;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    width: calc(1.9999 * (100% / 12));
    max-width: calc(1.9999 * (100% / 12));
    -ms-flex-preferred-size: calc(1.9999 * (100% / 12));
        flex-basis: calc(1.9999 * (100% / 12)); }
  .Cell--3\/12\@xl {
    height: auto;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    width: calc(2.9999 * (100% / 12));
    max-width: calc(2.9999 * (100% / 12));
    -ms-flex-preferred-size: calc(2.9999 * (100% / 12));
        flex-basis: calc(2.9999 * (100% / 12)); }
  .Cell--4\/12\@xl {
    height: auto;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    width: calc(3.9999 * (100% / 12));
    max-width: calc(3.9999 * (100% / 12));
    -ms-flex-preferred-size: calc(3.9999 * (100% / 12));
        flex-basis: calc(3.9999 * (100% / 12)); }
  .Cell--5\/12\@xl {
    height: auto;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    width: calc(4.9999 * (100% / 12));
    max-width: calc(4.9999 * (100% / 12));
    -ms-flex-preferred-size: calc(4.9999 * (100% / 12));
        flex-basis: calc(4.9999 * (100% / 12)); }
  .Cell--6\/12\@xl {
    height: auto;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    width: calc(5.9999 * (100% / 12));
    max-width: calc(5.9999 * (100% / 12));
    -ms-flex-preferred-size: calc(5.9999 * (100% / 12));
        flex-basis: calc(5.9999 * (100% / 12)); }
  .Cell--7\/12\@xl {
    height: auto;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    width: calc(6.9999 * (100% / 12));
    max-width: calc(6.9999 * (100% / 12));
    -ms-flex-preferred-size: calc(6.9999 * (100% / 12));
        flex-basis: calc(6.9999 * (100% / 12)); }
  .Cell--8\/12\@xl {
    height: auto;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    width: calc(7.9999 * (100% / 12));
    max-width: calc(7.9999 * (100% / 12));
    -ms-flex-preferred-size: calc(7.9999 * (100% / 12));
        flex-basis: calc(7.9999 * (100% / 12)); }
  .Cell--9\/12\@xl {
    height: auto;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    width: calc(8.9999 * (100% / 12));
    max-width: calc(8.9999 * (100% / 12));
    -ms-flex-preferred-size: calc(8.9999 * (100% / 12));
        flex-basis: calc(8.9999 * (100% / 12)); }
  .Cell--10\/12\@xl {
    height: auto;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    width: calc(9.9999 * (100% / 12));
    max-width: calc(9.9999 * (100% / 12));
    -ms-flex-preferred-size: calc(9.9999 * (100% / 12));
        flex-basis: calc(9.9999 * (100% / 12)); }
  .Cell--11\/12\@xl {
    height: auto;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    width: calc(10.9999 * (100% / 12));
    max-width: calc(10.9999 * (100% / 12));
    -ms-flex-preferred-size: calc(10.9999 * (100% / 12));
        flex-basis: calc(10.9999 * (100% / 12)); }
  .Cell--12\/12\@xl {
    height: auto;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    width: calc(11.9999 * (100% / 12));
    max-width: calc(11.9999 * (100% / 12));
    -ms-flex-preferred-size: calc(11.9999 * (100% / 12));
        flex-basis: calc(11.9999 * (100% / 12)); }
  .Cell--offset-right-1\/12\@xl {
    margin-right: calc(0.9999 * (100% / 12)); }
  .Cell--offset-right-2\/12\@xl {
    margin-right: calc(1.9999 * (100% / 12)); }
  .Cell--offset-right-3\/12\@xl {
    margin-right: calc(2.9999 * (100% / 12)); }
  .Cell--offset-right-4\/12\@xl {
    margin-right: calc(3.9999 * (100% / 12)); }
  .Cell--offset-right-5\/12\@xl {
    margin-right: calc(4.9999 * (100% / 12)); }
  .Cell--offset-right-6\/12\@xl {
    margin-right: calc(5.9999 * (100% / 12)); }
  .Cell--offset-right-7\/12\@xl {
    margin-right: calc(6.9999 * (100% / 12)); }
  .Cell--offset-right-8\/12\@xl {
    margin-right: calc(7.9999 * (100% / 12)); }
  .Cell--offset-right-9\/12\@xl {
    margin-right: calc(8.9999 * (100% / 12)); }
  .Cell--offset-right-10\/12\@xl {
    margin-right: calc(9.9999 * (100% / 12)); }
  .Cell--offset-right-11\/12\@xl {
    margin-right: calc(10.9999 * (100% / 12)); }
  .Cell--offset-right-12\/12\@xl {
    margin-right: calc(11.9999 * (100% / 12)); }
  .Cell--offset-left-1\/12\@xl {
    margin-left: calc(0.9999 * (100% / 12)); }
  .Cell--offset-left-2\/12\@xl {
    margin-left: calc(1.9999 * (100% / 12)); }
  .Cell--offset-left-3\/12\@xl {
    margin-left: calc(2.9999 * (100% / 12)); }
  .Cell--offset-left-4\/12\@xl {
    margin-left: calc(3.9999 * (100% / 12)); }
  .Cell--offset-left-5\/12\@xl {
    margin-left: calc(4.9999 * (100% / 12)); }
  .Cell--offset-left-6\/12\@xl {
    margin-left: calc(5.9999 * (100% / 12)); }
  .Cell--offset-left-7\/12\@xl {
    margin-left: calc(6.9999 * (100% / 12)); }
  .Cell--offset-left-8\/12\@xl {
    margin-left: calc(7.9999 * (100% / 12)); }
  .Cell--offset-left-9\/12\@xl {
    margin-left: calc(8.9999 * (100% / 12)); }
  .Cell--offset-left-10\/12\@xl {
    margin-left: calc(9.9999 * (100% / 12)); }
  .Cell--offset-left-11\/12\@xl {
    margin-left: calc(10.9999 * (100% / 12)); }
  .Cell--offset-left-12\/12\@xl {
    margin-left: calc(11.9999 * (100% / 12)); }
  .Cell--text-align-left\@xl {
    text-align: left; }
  .Cell--text-align-center\@xl {
    text-align: center; }
  .Cell--text-align-right\@xl {
    text-align: right; }
  .Cell--text-align-justify\@xl {
    text-align: justify; }
  .Cell--has-rows > .Row--gutterless\@xl {
    padding: 0; } }

.Content {
  width: 100%;
  margin: 0 auto;
  position: relative;
  max-width: 77rem; }
