$c-cell-alignments: left, center, right, justify;
$c-cell-offset-sides: right, left;

.#{$g-cell-name} {
    width: 100%;
    height: auto;
    flex-grow: 0;
    flex-shrink: 0;
    max-width: 100%;
    flex-basis: 100%;
    position: relative;
    padding: $g-gutter-size;
}

.#{$g-cell-name}--hidden {
    display: none;
}

.#{$g-cell-name}--visible {
    display: block;
}

.#{$g-cell-name}--has-rows {
    padding: 0 !important;

    > .Row--gutterless {
        padding: 0;
    }
}

@for $_i from 1 through $g-column-count {
    .#{$g-cell-name}--#{$_i}\/#{$g-column-count} {
        width: width($_i);
        max-width: width($_i);
        flex-basis: width($_i);
    }
}

@each $_side in $c-cell-offset-sides {
    @for $_i from 1 through $g-column-count {
        .#{$g-cell-name}--offset-#{$_side}-#{$_i}\/#{$g-column-count} {
            margin-#{$_side}: width($_i);
        }
    }
}

@each $_alignment in $c-cell-alignments {
    .#{$g-cell-name}--align-#{$_alignment} {
        text-align: $_alignment;
    }
}

@each $_label, $_ in $g-viewports {
    @include viewport-min($_label) {
        .#{$g-cell-name}--hidden\@#{$_label} {
            display: none;
        }

        .#{$g-cell-name}--visible\@#{$_label} {
            display: block;
        }

        @for $_i from 1 through $g-column-count {
            .#{$g-cell-name}--#{$_i}\/#{$g-column-count}\@#{$_label} {
                width: width($_i);
                max-width: width($_i);
                flex-basis: width($_i);
            }
        }

        @each $_side in $c-cell-offset-sides {
            @for $_i from 1 through $g-column-count {
                .#{$g-cell-name}--offset-#{$_side}-#{$_i}\/#{$g-column-count}\@#{$_label} {
                    margin-#{$_side}: width($_i);
                }
            }
        }

        @each $_alignment in $c-cell-alignments {
            .#{$g-cell-name}--align-#{$_alignment}\@#{$_label} {
                text-align: $_alignment;
            }
        }

        .#{$g-cell-name}--has-rows > .Row--gutterless\@#{$_label} {
            padding: 0;
        }
    }
}
