$c-row-directions: (
    standard: row,
    reversed: row-reverse
);

$c-row-alignments: baseline, center, flex-end, flex-start, stretch;

.#{$g-row-name} {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

@each $_type, $_direction in $c-row-directions {
    .#{$g-row-name}--flow-#{$_type} {
        flex-direction: $_direction;
    }
}

@each $_alignment in $c-row-alignments {
    .#{$g-row-name}--valign-#{$_alignment} {
        align-items: $_alignment;
    }
}

.#{$g-row-name}--finish-short {
    margin-bottom: ($g-gutter-size * 2) * -1;
}

.#{$g-row-name}--finish-tall {
    margin-bottom: 0;
}

.#{$g-row-name}--no-gutters {
    padding: $g-gutter-size;

    > .Cell {
        padding: 0;
    }
}

.#{$g-row-name}--gutters {
    padding: 0;

    > .Cell {
        padding: $g-gutter-size;
    }
}

@each $_label, $_ in $g-viewports {
    @include viewport-min($_label) {
        @each $_type, $_direction in $c-row-directions {
            .#{$g-row-name}--flow-#{$_type}\@#{$_label} {
                flex-direction: $_direction;
            }
        }

        @each $_alignment in $c-row-alignments {
            .#{$g-row-name}--valign-#{$_alignment}\@#{$_label} {
                align-items: $_alignment;
            }
        }

        .#{$g-row-name}--finish-short\@#{$_label} {
            margin-bottom: ($g-gutter-size * 2) * -1;
        }

        .#{$g-row-name}--finish-tall\@#{$_label} {
            margin-bottom: 0;
        }

        .#{$g-row-name}--no-gutters\@#{$_label} {
            padding: $g-gutter-size;

            > .Cell {
                padding: 0;
            }
        }

        .#{$g-row-name}--gutters\@#{$_label} {
            padding: 0;

            > .Cell {
                padding: $g-gutter-size;
            }
        }
    }
}
