$c-row-directions: (
    standard: row,
    reversed: row-reverse
);
$c-row-alignments: baseline, center, flex-end, flex-start, stretch;

.Row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

@each $_type, $_direction in $c-row-directions {
    .Row--flow-#{$_type} {
        flex-direction: $_direction;
    }
}

@each $_alignment in $c-row-alignments {
    .Row--valign-#{$_alignment} {
        align-items: $_alignment;
    }
}

.Row--finish-short {
    margin-bottom: ($g-gutter-size * 2) * -1;
}

.Row--finish-tall {
    margin-bottom: 0;
}

.Row--no-gutters {
    padding: $g-gutter-size;

    > .Cell {
        padding: 0;
    }
}

.Row--gutters {
    padding: 0;

    > .Cell {
        padding: $g-gutter-size;
    }
}

@each $_label, $_ in $g-viewports {
    @include viewport-min($_label) {
        @each $_type, $_direction in $c-row-directions {
            .Row--flow-#{$_type}\@#{$_label} {
                flex-direction: $_direction;
            }
        }

        @each $_alignment in $c-row-alignments {
            .Row--valign-#{$_alignment}\@#{$_label} {
                align-items: $_alignment;
            }
        }

        .Row--finish-short\@#{$_label} {
            margin-bottom: ($g-gutter-size * 2) * -1;
        }

        .Row--finish-tall\@#{$_label} {
            margin-bottom: 0;
        }

        .Row--no-gutters\@#{$_label} {
            padding: $g-gutter-size;

            > .Cell {
                padding: 0;
            }
        }

        .Row--gutters\@#{$_label} {
            padding: 0;

            > .Cell {
                padding: $g-gutter-size;
            }
        }
    }
}
