$g-row-name: 'Row' !default;
$g-cell-name: 'Cell' !default;
$g-content-name: 'Content' !default;

$g-column-count: 12 !default;
$g-gutter-size: 1rem !default;
$g-content-width: 75rem !default;
$g-ie-width-correction: 0.0001 !default;

$g-viewports: (
    xs: 0px,
    sm: 544px,
    md: 768px,
    lg: 992px,
    xl: 1200px,
) !default;
